---
layout: single
author_profile: false

header:
  overlay_image: /assets/images/main-banner.jpg
  overlay_filter: 0.5
  title: "공공을 위한 과학기술인포럼 FOSEP"
  excerpt: "과학기술의 공공성, 합리성, 민주성을 고민하는 과학기술인들의 모임입니다."
  actions:
    - label: "FOSEP 소개"
      url: "/about/history/"
    - label: "가입 신청하기"
      url: "/about/join/"
---

### 최신 소식 및 리포트

{% assign posts = site.posts %}
<div class="entries-grid">
  {% for post in posts limit:6 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>